@font-face {
    font-family: "Nunito";
    src: url(../fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
    font-family: "Nunito";
    src: url(../fonts/Nunito/Nunito-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url(../fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url(../fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf);
    font-weight: bold;
}

