nav {
  position: fixed;
  width: 100%;
  min-height: 4em;
  font-size: 1rem;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  background: linear-gradient(90deg, var(--color-body-bg), 70%, #0f0a4900);
  align-items: center;
  padding: 0 8%;
  transition: all 1s ease;
  .d-open {
    display: none;
  }
  .hamberger {
    height: 1em;
    display: none;
  }

  .logo {
    margin: 1.1em 0;
    height: 1.7em;
    transform: translateY(8%);
    cursor: pointer;
  }
  ul {
    margin-left: 2.3em;
    display: flex;
    align-items: center;
    list-style: none;
    transition: all 1s ease;
    li {
      //background-color: blue;
      a {
        display: inline-block;
        padding: 1.5em 1em;
        text-decoration: none;
        color: white;
        font-size: 0.8em;
        font-weight: bold;
        &:hover {
          color: var(--color-secondary);
        }
      }
    }
  }
  &.open {
    .d-open {
      display: unset;
    }
    .d-close {
      display: none;
    }
    ul {
      display: flex;
      height: 5em;
      opacity: 1;
      margin: 0;
    }
  }

  @media screen and (max-width: 1100px) {
    justify-content: flex-start;
  }
  @media screen and (max-width: 700px) {
    justify-content: space-between;
    flex-wrap: wrap;
    ul {
      height: 0em;
      overflow: hidden;
      opacity: 0;
      order: 3;
      width: 100%;
    }
    .hamberger {
      display: block;
    }
  }
}
