nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  background: var(--navbar-bg);
  backdrop-filter: blur(5px);

  .container {
    display: flex;
    align-items: center;
    padding: 0 8%;

    .d-open {
      display: none;
    }
    .hamberger {
      display: none;
      padding: 0.5rem;
      height: 2rem;
      line {
        // this is because of a bug in the framer-motion library
        // the bug is that if the display of the component is none in the inital page load, it adds the transform-origin(0px 0px) to the it's styles.
        transform-origin: 12px 9px !important;
      }
    }

    .logo {
      margin: 1rem 0;
      height: 1.7rem;
      transform: translateY(15%);
      cursor: pointer;
    }
    ul {
      margin: 0 2rem;
      display: flex;
      align-items: center;
      li {
        display: block;
        line-height: 0;
        &::before {
          display: none;
        }
        a {
          line-height: 1;
          display: block;
          text-decoration: none;
          color: white;
          font-size: 0.9rem;
          padding: 1.6em 1em;
          font-weight: bold;
          white-space: nowrap;
          &:hover {
            color: var(--color-secondary);
          }
        }
      }
    }

    @media screen and (max-width: 920px) {
      justify-content: space-between;
      flex-wrap: wrap;
      overflow: hidden;
      height: 4em;
      ul {
        margin: 0;
        flex-wrap: wrap;
        width: 100%;
        overflow: hidden;
      }
      .hamberger {
        display: block;
      }
    }
  }
}
